* {
	margin: 0;
	padding: 0;
}
@font-face {
	font-family: FortuneCity;
	src: url(FortuneCity.ttf);
}
body, html {
	height: 100%;
	color: white;
	font-family: FortuneCity, sans-serif;
	letter-spacing: 0.1em;
	overflow: hidden;
}
canvas {
	background-color: black;
	position: fixed;
	height: 100%;
	width: 100%;
	cursor: crosshair;
}
#logo {
	position: absolute;
	top: 5px;
	left: 5px;
	z-index: 1;
}
#logo, #controls li {
	opacity: 0.3;
	transition: opacity .15s linear;
}
#logo:hover {
	opacity: 0.6;
}
#controls {
	position: absolute;
	top: 5px;
	right: 5px;
	list-style-type: none;
}
#controls li {
	display: block;
	float: right;
	margin-left: 10px;
	cursor: pointer;
	background-repeat: no-repeat;
}
#controls li label {
	position: absolute;
	top: 2.5em;
	right: 0;
	font-size: 1em;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 2px 4px;
	border: 1px solid #555;
	display: none;
	font-weight: normal;
}
#controls li:hover {
	opacity: 1;
}
#controls li:hover label {
	display: block;
}
#songinfo {
	position: absolute;
	bottom: 0px;
	left: 0px;
	font-size: 0.8em;
	padding: 5px;
	margin: 5px;
	border-radius: 4px;
	opacity: 1;
	transition: opacity, background-color 1s linear;
}
#songinfo.idle {
	background-color: initial;
}
#songinfo.featured {
	background-color: #222;
}
#songtitle {
	font-weight: bold;
}
#songtitle:before {
	content: "\266B\00a0";
}
#messages {
	display: none;
	position: absolute;
	bottom: 15%;
	left: 50%;
	width: 400px;
	margin-left: -200px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	padding: 10px 0;
}
#messages p {
	text-align: center;
}
#messages p:nth-child(1) {
	font-size: 1.8em;
}
#messages p:nth-child(2) {
	font-size: 1em;
}
#info {
	display: none;
	position: fixed;
	width: 20%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.overlay {
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	height: 100%;
	width: 100%;
}
#helpwindow {
	width: 400px;
	background-color: rgba(0, 0, 0, 0.8);
	position: absolute;
	left: 50%;
	top: 100px;
	bottom: 80px;
	margin-left: -200px;
	box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
#helpheader {
	width: 100%;
	background: #2F8AA1;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #13728A), color-stop(0.51, #2F8AA1), color-stop(1, #6ACDD4));
	background-image: -moz-linear-gradient(center bottom, #13728A 50%, #2F8AA1 51%, #6ACDD4 100%);
	border-top-left-radius: 16px;
	border-top-right-radius: 16px;
	text-align: center;
	padding: 5px 0;
	position: absolute;
	bottom: 100%;
	font-size: 1.6em;
}
#helpbody {
	overflow: auto;
	height: 100%;
	color: white;
	text-shadow: 1px 1px 0px black;
	font-size: 1em;
}
#helpbody p {
	margin: 0.5em 0;
}
#helpbody h2, #helpbody h3 {
	text-transform: uppercase;
}
#helpbody h2 {
	margin-top: 1.7em;
	font-size: 1.2em;
	border-bottom: 1px solid rgba(255, 255, 255, 0.8);
}
#helpbody h3 {
	margin-top: 1.5em;
	margin-bottom: 0.2em;
	font-size: 1em;
}
#helpbody a, #helpbody a:hover {
	color: white;
}
#helpbody a:active, #helpbody a:visited {
	color: #ccc;
}
#helpbody-inner {
	padding: 10px 20px;
}
#helpfooter {
	width: 100%;
	background: #474747;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #212121), color-stop(1, #414141));
	background-image: -moz-linear-gradient(center bottom, #212121 0%, #414141 100%);
	border-bottom-left-radius: 16px;
	border-bottom-right-radius: 16px;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	position: absolute;
}
#helpfooter button {
	display: inline-block;
	border-radius: 5px;
	background-color: #26A332;
	background-position: left top;
	background-repeat: repeat-x;
	border: 1px solid darkgreen;
	font-weight: bold;
	padding: 0px 32px;
	color: white;
	text-shadow: 1px 1px 0 black;
	text-align: center;
	box-shadow: 0px 1px 0px black;
	margin: 7px;
}
#helpfooter button:hover {
	background-color: #29AF36;
}
#helpfooter button:active {
	background-color: #22962D;
	box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.5);
	margin-top: 8px;
}
.key {
	padding: 1px 4px;
	border: 1px solid white;
	border-radius: 3px;
}
.center {
	vertical-align: middle;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.scale {
	animation: scale 5s infinite ease-in-out;
}
@keyframes scale {
	0% {
		transform: scale(0.8);
	}
	50% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.8);
	}
}
input, button {
	font-family: FortuneCity, sans-serif;
	font-size: 1.5rem;
	outline: none;
	border: 0;
	padding: .5rem 1rem;
	line-height: 2.5rem;
}
button {
	text-align: center;
	cursor: pointer;
}
button:active {
	transform: translateY(4px);
}
button:disabled {
	cursor: not-allowed;
}
#name {
	background: #ededd1;
	border-bottom: 6px solid #a1a18d;
}
.yellow {
	background: #eaec4b;
	border-bottom: 6px solid #a1a130;
	color: #888a34;
}
.yellow:hover {
	background: #fafc5b;
}
.yellow:active {
	border-bottom: 2px solid #a1a130;
}
.orange {
	background: #FF972F;
	border-bottom: 6px solid #AE4E0D;
	color: #422100;
}
.orange:hover {
	background: #FFB76F;
}
.orange:active {
	border-bottom: 2px solid #AE4E0D;
}
.green {
	background: #7fed4c;
	border-bottom: 6px solid #56a130;
	color: #4f8a34;
}
.green:hover {
	background: #8efc5b;
}
.green:active {
	border-bottom: 2px solid #56a130;
}
